

.about-me-txt {
    margin-bottom: 100px;
}

.about-me-txt p{
    font-size: 1.25em;
    margin:25px 80px;
    text-align: justify;

    & a {
        font-weight: 800;
        transition: 0.5s;

        &:hover {
            color: #ffffff;
            background: #aaaaaa;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 2em;
            padding: 0 4px;
        }
    }
}

@media screen and (max-width: 786px) {
    .about-me-txt p {
        margin: 25px 25px;
    }
}