@import './settings/colors';
@import './settings/fonts';

body {
    background-color: $background;
    font-family: $font-main;
    color: $text;

    height: 2000px;
}

h1 {
    font-weight: 200;
    letter-spacing: 0.355em;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    letter-spacing: 0.355em;
    text-transform: capitalize;
    margin: 10px 25px;
}

// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
// }

@import 'Header', 'Portfolio', 'PortfolioBox',
        'Skills', 'AboutMe', 'Contact', 'ContactForm';